$black:#333;
$green:#00A6B4;
$lightGreen:#E4EEEE;
$gray:#BEBEBE;
$lightGray:#E3E3E3;

.aerobic-tr{
  display:none;
}

.view-info-history{
  float:right;
  position:relative;
  top:-35px;
  //a{
  //  font-size:18px;
  //  border:1px solid $green;
  //  padding:10px 10px;
  //  border-radius:2px;
  //  text-decoration: none;
  //  &:hover{
  //    background:$green;
  //    color:#fff;
  //  }
  //}
  //.rewrite-customer-info{
  //
  //}
}
.unbind-customer{
  line-height:32px !important;
}
.info-input-group-ct{
  ul{
    margin: 10px 20px;
    li{
      margin:10px 0;
      .info-item-title{
        display: inline-block;
        width: 7rem;
        text-align: right;
      }
      textarea{
        margin: 0 4px;
        width: 400px!important;
        height: 80px;
      }
    }
  }
}


#city-selector{
  .select2-container{
    width:150px!important;
    margin:0 4px;
  }
}
.height-input{
  width:80px!important;
}
.weight-input{
  width:80px!important;
}
.select2-dropdown {
  z-index: 10060 !important;
}

.birth{
  .select2-container{
    width:80px!important;
    margin:0 4px;
  }
}

.type-error-alert{
  background:$green;
  border-radius:4px;
  color:#fff;
  padding:10px 20px;
  position:absolute;
  right: 40%;
  bottom: -3px;
  display:none;
  &:after{
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    border:10px solid transparent;
    border-top:10px solid $green;
    bottom:-19px;
    right:20px;
  }
}

#rewriteModal{
  .modal-dialog{
    top:10%!important;
    margin:10px auto!important;
  }
}

#unbindModal{
  .modal-dialog{
    width:400px;
  }
  .modal-content{
    width:400px;
    .modal-body{
      padding:15px 70px;
    }
  }
}

.sex-radio-group{
  height:34px;
  line-height: 34px;
  label{
    margin-bottom:2px;
    &:before{
      top:7px!important;
    }
    &:after{
      top:13px!important;
    }
  }
}

.report-header{
  margin:10px 0 25px 0;
}
.check-more-tow{
  position:relative;
  display: inline-block;
  margin-left: 8px;
  border: 1px solid #bebebe;
  color: #000 !important;
  width: 140px;
  text-align: center;
  padding: 8.5px 12px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  i:before{
    content:"";
    display:inline-block;
    border-top:5px solid #C1C1C1;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
  }
  i{
    position: relative;
    right: -35px;
    top: -3px;
  }
  .check-more-toggle{
    position:absolute;
    background: #fff;
    border:1px solid #bebebe;
    width: 140px;
    left: -1px;
    top:100%;
    z-index:999;
    display:none;
    a{
      display:block;
      height: 45px;
      line-height:45px;
      text-decoration: none;
      color:#000;
    }
    a:hover{
      background:#00A6B4;
      color:#fff;
    }
  }
}
.check-more-tow:hover i:before{
  content:"";
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid #C1C1C1;
  margin-top:5px;
  border-top:none;
}
.check-more-tow:hover .check-more-toggle{
  display:block;
}