$border:#e7e7e7;
$green: #00a6b4;
$fontGray:#4E4E4E;
[v-cloak] {
  display: none!important;
}

//内容块
.content-block{
  border:1px solid $border;
  margin-bottom:30px;
  position:relative;
  //内容块标题
  .content-header{
    font-size:18px;
    font-weight:500;
    height:58px;
    line-height:58px;
    padding:0 20px;
    &:after{
      position:absolute;
      left:0;
      display:block;
      content:'';
      border-bottom:1px solid $border;
      margin-left:10px;
      margin-right:10px;
      width:calc(100% - 20px);
    }
  }
  //内容块身体
  .content-body{
    padding:22px 18px 22px 18px;
    //清除浮动
    &:after{
      content:'';
      display:block;
      clear:both;
    }
    //子内容块
    .content-inner{
      border:1px solid $border;
      position:relative;
      &.inner-row{  //子内容块横向排列
        margin-right:18px;
        float:left;
        &:last-child{ //清除最后一个内容块右margin
          margin-right:0;
        }
      }
      &.column{ //子内容块纵向排列
        margin-bottom:10px;
      }
      //子内容块标题
      .content-inner-header{
        height:52px;
        line-height:52px;
        padding:0 14px;
        font-size:16px;
        font-weight:500;
        color:$fontGray;
        &:after{
          position:absolute;
          left:0;
          display:block;
          content:'';
          border-bottom:1px solid $border;
          margin-left:10px;
          margin-right:10px;
          width:calc(100% - 20px);
        }
      }
      //子内容块身体
      .content-inner-body{
        padding:22px 18px 22px 18px;
        //清除浮动
        &:after{
          content:'';
          display:block;
          clear:both;
        }
      }
    }
  }
}

//板块1
.overall-summary{
  position:relative;
  height:50px;
  line-height:50px;
  background: rgba(141,227,232,0.18);
  margin-bottom:20px;
  &:before{
    position:absolute;
    display:block;
    content:'';
    left:0;
    top:0;
    bottom:0;
    width:4px;
    height:100%;
    background:$green;
  }
  ul{
    padding-left:22px;
    li{
      float:left;
      width:22%;
      span{
        &:nth-child(1){
          font-size: 16px;
          color: #222222;
          letter-spacing: -0.72px;
        }
        &:nth-child(2){
          margin-left:6px;
          font-size: 16px;
          color: #101010;
          letter-spacing: -0.33px;
        }
      }
    }
  }
}
//板块2
.user-properties{
  .content-inner{
    height:350px;
    &:nth-child(1){
      width:35%;
      .sex-stats{
        #sex-chart{
          height:200px;
          width:100%;
          margin-bottom:15px;
          @media screen and (max-width:1100px){
            height:170px;
          }
        }
        .none-chart-image{
          @media screen and (max-width:1100px){
            height:170px;
          }
        }
        .sex-text{
          width:100%;
          ul{
            li{
              float:left;
              width:50%;
              div{
                float:left;
                &:nth-child(1){
                  padding-left:20%;
                  line-height:32px;
                  margin-right:5px;
                  img{
                    width:15px;
                    height:32px;
                  }
                }
                &:nth-child(2){
                  p{
                    margin:0;
                    //font-weight:500;
                    &:nth-child(1){

                    }
                    &:nth-child(2){

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &:nth-child(2){
      width:calc(100% - 35% - 18px);
      #age-chart{
        height:250px;
      }
    }
  }
}
//板块3
.aerobic-distribution{
  .aerobic-distribution-inner{
    border:1px solid $border;
    padding:12px 18px;
    #aerobic-distribution-chart{
      height:250px;
      width:45%;
      float:left
    }
    .aerobic-distribution-table{
      margin-left:5%;
      width:50%;
      float:left;
      margin-top:30px;
      table{
        width:100%;
        text-align: center;
        thead{
          border: 1px solid #1FB3AF;
          background: #1FB3AF;
          color:#fff;
          font-size: 14px;
          tr{
            height:50px;
            line-height:50px;
            td{
              width:33%;
            }
          }
        }
        tbody{
          border: 1px solid #E7E7E7;
          tr{
            height:50px;
            line-height:50px;
            &:nth-child(odd){
              background: #fff;
            }
            &:nth-child(even){
              background: #F6F6F8;
            }
            td{
              p{
                line-height:1.5;
                margin:0;
              }
            }
          }
        }
      }
    }
  }

}
//板块4
.effect-stats{
  .content-inner{
    ul{
      margin-top:35px;
      padding:0 5px;
      margin-bottom:-10px;
      li{
        margin-bottom:5px;
        &:after{
          content:'';
          display:block;
          clear:both;
        }
        .left-part{
          width:60%;
          float:left;
          i{
            display:inline-block;
            width:10px;
            height:10px;
            position:relative;
            //top:-1px;
          }
          span.text{
            font-size: 14px;
          }
        }
        .right-part{
          position:relative;
          top:-2px;
          float:right;
          width:40%;
          text-align: right;
          span{
            font-size: 16px;
            color: #222222;
            display:inline-block;
            &.value1{
              margin-right:5px;
            }
          }
        }
      }
    }
    &:nth-child(1){
      width:calc(100% - 64% - 36px);
      #met-change-chart{
        height:200px;
      }
      ul li{
        &:nth-child(1){
          i{
            background:#BBCFE1;
          }
        }
        &:nth-child(2){
          i{
            background:#6893BB;
          }
        }
        &:nth-child(3){
          i{
            background:#316AA0;
          }
        }
      }
    }
    &:nth-child(2){
      width:32%;
      #weight-change-chart{
        height:200px;
      }
      ul li{
        &:nth-child(1){
          i{
            background:#AEDDE1;
          }
        }
        &:nth-child(2){
          i{
            background:#63BDC4;
          }
        }
        &:nth-child(3){
          i{
            background:#11929E;
          }
        }
      }
    }
    &:nth-child(3){
      width:32%;
      #mbg-change-chart{
        height:200px;
      }
      ul li{
        &:nth-child(1){
          i{
            background:#F5C1C1;
          }
        }
        &:nth-child(2){
          i{
            background:#E77676;
          }
        }
        &:nth-child(3){
          i{
            background:#DD4242;
          }
        }
      }
    }
  }
}
//板块5
.report-stats{
  .report-sum-table{
    table{
      width:100%;
      text-align: center;
      thead{
        border: 1px solid $green;
        background: $green;
        color:#fff;
        font-size: 14px;
        tr{
          height:50px;
          line-height:50px;
          td{
            width:25%;
          }
        }
      }
      tbody{
        border: 1px solid #E7E7E7;
        tr{
          height:50px;
          line-height:50px;
          td{
            a{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
//板块6
.join-in-stats{
  .join-in-stats-inner{
    border: 1px solid $border;
    padding:12px 18px 12px 10px;
    #join-in-chart{
      height:300px;
    }
  }
}
//板块7
.test-stage-stats{
  .test-stage-stats-inner{
    border: 1px solid $border;
    padding:12px 18px 12px 10px;
    #test-stage-chart{
      height:380px;
    }
  }
}

.none-chart-image{
  height:200px;
  width:100%;
  padding-top:15px;
  margin-bottom:15px;
  text-align: center;
  vertical-align: middle;
  img{
    height:170px;
  }
}